@import '../../__public__/style/app/variable.scss';

html{
    height: 100%;
}

body{
    margin: 0 0 0 0;
    height: 100%;
}
.disscussion-container{
    overflow: hidden;
    width: 375px;
    height: 100%;
    background: #1A1A1A;
    backdrop-filter: blur(27.18px);
    box-shadow: 0px 0px 29px 0px #000000;
    .title{
        color: #FFFFFF;
        font-family: PingFang SC;
        font-weight: normal;
        font-size: 18px;
        line-height: normal;
        letter-spacing: 0px;
        text-align: left;
        margin-left: 20px;
        padding-bottom: 20px;
        padding-top: 40px;
    }
    .divider-line{
        width: 375px;
        height: 1px;
        background: #47494E;
        margin-bottom: 20px;
    }
    .roll-bar{
        overflow-y: auto;
        overflow-x: hidden;
        height: calc(100% - 105px);
        padding-bottom: 20px;
        .no-message{
            color: #FFFFFF;
            font-family: PingFang SC;
            font-weight: normal;
            font-size: 15px;
            line-height: 17px;
            letter-spacing: 0px;
            text-align: center;
            margin-top: 400px;
            filter: brightness(70%);
            i{
                font-size: 65px;
            }
            span{
                display: block;
                margin-top: 10px;
            }
        }
        .chair-location{
            margin-left: 80px;
        }
        .message{
            float: left;
            clear: both;
            display: flex;
            padding-top: 20px;
            margin-left: 20px;
            .left-name{
                color: #999999;
                font-family: PingFang SC;
                font-weight: normal;
                font-size: 12px;
                line-height: 17px;
                letter-spacing: 0px;
                text-align: left;
                margin-left: 8px;
                margin-bottom: 3px;
                margin-top: 4px;
            }
            .cursor{
                cursor: pointer;
            }
            .portrait{
                width: 42px;
                height: 42px;
                border-radius: 50%;
            }
            .img-container{
                border-radius: 3px;
                margin-left: 10px;
                width: 221px;
                min-height: 124px;
                max-height: 200px;
                position: relative;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                .actived{
                    filter: brightness(40%);
                }
                .img-float{
                    float: left;
                    clear: both;
                }
                img{
                    max-width: 100%;
                }
                .download-progress-container{
                    float: left;
                    clear: both;
                    z-index: 1;
                    position: absolute;
                    top: 30%;
                    left: 45%;
                    transform: translate(-50%,-50%);
                    .img-text{
                        color: #FFFFFF;
                        font-family: PingFang SC;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 17px;
                        letter-spacing: 0px;
                        text-align: center;
                        margin-top: 44px;
                        margin-left: 20px;
                    }
                    .img-progress{
                        height: 2px;
                        width: 180px;
                        background: #333333;
                        margin-top: 6px;
                        margin-left: 20px;
                        .active{
                            height: 2px;
                            background: #FF6F20;
                        }
                    }
                    .file-text{
                        color: #FFFFFF;
                        font-family: PingFang SC;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 17px;
                        letter-spacing: 0px;
                        text-align: center;
                        margin-top: 44px;
                        margin-left: 20px;
                    }
                    .file-progress{
                        height: 2px;
                        width: 181px;
                        background: #333333;
                        margin-top: 6px;
                        margin-left: 20px;
                        .active{
                            height: 2px;
                            background: #FF6F20;
                        }
                    }
                }
            }
            .message-content{
                margin-left: 8px;
                display: flex;
                .actived{
                    filter: brightness(40%);
                }
                .download-progress-container{
                    margin-left: -220px;
                    margin-top: -18px;
                    float: left;
                    clear: both;
                    z-index: 1;
                    .img-text{
                        color: #FFFFFF;
                        font-family: PingFang SC;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 17px;
                        letter-spacing: 0px;
                        text-align: center;
                        margin-top: 44px;
                        margin-left: 20px;
                    }
                    .img-progress{
                        height: 2px;
                        width: 118px;
                        background: #333333;
                        margin-top: 6px;
                        margin-left: 20px;
                        .active{
                            height: 2px;
                            background: #FF6F20;
                        }
                    }
                    .file-text{
                        color: #FFFFFF;
                        font-family: PingFang SC;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 17px;
                        letter-spacing: 0px;
                        text-align: center;
                        margin-top: 44px;
                        margin-left: 20px;
                    }
                    .file-progress{
                        height: 2px;
                        width: 181px;
                        background: #333333;
                        margin-top: 6px;
                        margin-left: 20px;
                        .active{
                            height: 2px;
                            background: #FF6F20;
                        }
                    }
                }
                .corner{
                    width: 0;
                    height: 0;
                    border: 3.5px solid #fff;
                    border-left-color: transparent;
                    border-bottom-color: transparent;
                }
                .content-container{
                    border-top-right-radius:3px;
                    border-bottom-right-radius:3px;
                    border-bottom-left-radius:3px;
                    padding: 10px;
                    display: flex;
                    .content-text{
                        white-space:normal;
                        word-break:break-all;
                        word-wrap:break-word; 
                        color: #333333;
                        font-family: PingFang SC;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: normal;
                        letter-spacing: 0px;
                        text-align: left;
                    }
                    .filetype-img{
                        width: 44px;
                        height: 44px;
                    }
                    max-width: 221px;
                    height: auto;
                    background: #FFFFFF;
                }
                .file-content{
                    border-top-right-radius:3px;
                    border-bottom-right-radius:3px;
                    border-bottom-left-radius:3px;
                    display: flex;
                    float: left;
                    clear: both;
                    .file-name{
                        color: #333333;
                        font-family: PingFang SC;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: normal;
                        letter-spacing: 0px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin-left: 10px;
                        margin-top: 10px;
                        width: 140px;
                    }
                    .file-size{
                        color: #999999;
                        font-family: PingFang SC;
                        font-weight: normal;
                        font-size: 10px;
                        line-height: normal;
                        letter-spacing: 0px;
                        text-align: left;
                        margin-left: 10px;
                        margin-top: 1px;
                    }
                    .content-text{
                        white-space:normal;
                        word-break:break-all;
                        word-wrap:break-word; 
                        margin: 10px 7px 10px 10px;
                        color: #333333;
                        font-family: PingFang SC;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: normal;
                        letter-spacing: 0px;
                        text-align: left;
                    }
                    .filetype-img{
                        width: 44px;
                        height: 44px;
                        margin-top: 14px;
                        margin-left: 20px;
                    }
                    width: 221px;
                    min-height: 72px;
                    background: #FFFFFF;
                }
            }
            
        }
        .chair-message{
            float: right;
            clear: both;
            display: flex;
            padding-top: 20px;
            margin-right: 20px;
            .right-name{
                color: #999999;
                font-family: PingFang SC;
                font-weight: normal;
                font-size: 12px;
                line-height: 17px;
                letter-spacing: 0px;
                text-align: right;
                margin-right: 8px;
                margin-bottom: 3px;
                margin-top: 4px;
            }
            .cursor{
                cursor: pointer;
            }
            .portrait{
                width: 42px;
                height: 42px;
                border-radius: 50%;
            }
            .img-container{
                border-radius: 3px;
                margin-right: 11px;
                width: 221px;
                min-height: 124px;
                max-height: 200px;
                position: relative;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                .actived{
                    filter: brightness(40%);
                }
                .img-float{
                    float: left;
                    clear: both;
                }
                img{
                    max-width: 100%;
                }
                .download-progress-container{
                    float: left;
                    clear: both;
                    z-index: 1;
                    position: absolute;
                    top: 30%;
                    left: 45%;
                    transform: translate(-50%,-50%);
                    .img-text{
                        color: #FFFFFF;
                        font-family: PingFang SC;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 17px;
                        letter-spacing: 0px;
                        text-align: center;
                        margin-top: 44px;
                        margin-left: 20px;
                    }
                    .img-progress{
                        height: 2px;
                        width: 180px;
                        background: #333333;
                        margin-top: 6px;
                        margin-left: 20px;
                        .active{
                            height: 2px;
                            background: #FF6F20;
                        }
                    }
                    .file-text{
                        color: #FFFFFF;
                        font-family: PingFang SC;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 17px;
                        letter-spacing: 0px;
                        text-align: center;
                        margin-top: 44px;
                        margin-left: 20px;
                    }
                    .file-progress{
                        height: 2px;
                        width: 181px;
                        background: #333333;
                        margin-top: 6px;
                        margin-left: 20px;
                        .active{
                            height: 2px;
                            background: #FF6F20;
                        }
                    }
                }
            }
            .message-content{
                margin-right: 8px;
                display: flex;
                float: right;
                clear: both;
                .actived{
                    filter: brightness(40%);
                }
                .download-progress-container{
                    margin-left: -221px;
                    margin-top: -18px;
                    float: left;
                    clear: both;
                    z-index: 1;
                    width: 221px;
                    height: 72px;
                    .img-text{
                        color: #FFFFFF;
                        font-family: PingFang SC;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 17px;
                        letter-spacing: 0px;
                        text-align: center;
                        margin-top: 44px;
                        margin-left: 20px;
                    }
                    .img-progress{
                        height: 2px;
                        width: 118px;
                        background: #333333;
                        margin-top: 6px;
                        margin-left: 20px;
                        .active{
                            height: 2px;
                            background: #FF6F20;
                        }
                    }
                    .file-text{
                        color: #FFFFFF;
                        font-family: PingFang SC;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 17px;
                        letter-spacing: 0px;
                        text-align: center;
                        margin-top: 44px;
                        margin-left: 20px;
                    }
                    .file-progress{
                        height: 2px;
                        width: 181px;
                        background: #333333;
                        margin-top: 6px;
                        margin-left: 20px;
                        .active{
                            height: 2px;
                            background: #FF6F20;
                        }
                    }
                }
                .corner{
                    width: 0;
                    height: 0;
                    border: 3.5px solid #fff;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                }
                .content-container{
                    border-top-left-radius:3px;
                    border-bottom-right-radius:3px;
                    border-bottom-left-radius:3px;
                    padding: 10px;
                    display: flex;
                    .content-text{
                        white-space:normal;
                        word-break:break-all;
                        word-wrap:break-word; 
                        color: #333333;
                        font-family: PingFang SC;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: normal;
                        letter-spacing: 0px;
                        text-align: left;
                    }
                    .filetype-img{
                        width: 44px;
                        height: 44px;
                    }
                    max-width: 221px;
                    height: auto;
                    background: #FFFFFF;
                }
                .file-content{
                    border-top-left-radius:3px;
                    border-bottom-right-radius:3px;
                    border-bottom-left-radius:3px;
                    display: flex;
                    float: left;
                    clear: both;
                    .file-name{
                        color: #333333;
                        font-family: PingFang SC;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: normal;
                        letter-spacing: 0px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin-left: 10px;
                        margin-top: 10px;
                        width: 140px;
                    }
                    .file-size{
                        color: #999999;
                        font-family: PingFang SC;
                        font-weight: normal;
                        font-size: 10px;
                        line-height: normal;
                        letter-spacing: 0px;
                        text-align: left;
                        margin-left: 10px;
                        margin-top: 1px;
                    }
                    .content-text{
                        white-space:normal;
                        word-break:break-all;
                        word-wrap:break-word; 
                        margin: 10px 7px 10px 10px;
                        color: #333333;
                        font-family: PingFang SC;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: normal;
                        letter-spacing: 0px;
                        text-align: left;
                    }
                    .filetype-img{
                        width: 44px;
                        height: 44px;
                        margin-top: 14px;
                        margin-left: 20px;
                    }
                    width: 221px;
                    min-height: 72px;
                    background: #FFFFFF;
                }
            }
        }
    }
}

