@import '../../__public__/style/app/variable.scss';

.directory-container{
    width: 100%;
    height: 100%;
    background: #000000;
    .app-toolbar{
        .cover-button-loaction{
            margin-left: 60px;
        }
    }
}