/* colors */
/* font */
/* control layouts */
.directory-container {
  width: 100%;
  height: 100%;
  background: #000000; }
  .directory-container .app-toolbar .cover-button-loaction {
    margin-left: 60px; }
