<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <!--LINDGE:meta begin-->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="entrance" content="ClassroomTeaching.Students.Score" param="lessonid={0}&behaviorid={1}" />
    <!--LINDGE:meta end-->
    <!--LINDGE:style begin-->
    <link include-type="global" rel="stylesheet" type="text/css" href="/Framework/LINDGE.UI/LINDGE-UI-Core-1.0.0.min.css" />
    <link include-type="global" rel="stylesheet" type="text/css" href="/Framework/LINDGE.IconFont/LINDGE-icon-vivo.min.css" />
    <link include-type="cross" rel="stylesheet" type="text/css" href="/Views/__public__/style/app/global.css" />
    
    <!--LINDGE:style end-->
    <!--Page style begin-->
    <link rel="stylesheet" type="text/css" href="score.css" />
    <!--Page style end-->

    <title>评价</title>
</head>
<body ng-app="ClassroomTeaching.Students.Score" ng-controller="MailCtrl">
    <!-- page content here -->

    <div class="score-container">
        <div class="top-container">
            <div class="text-container">
                <span>评价</span>
            </div>
            <div class="flex-auto"> </div>
            <div class="close-container" ng-click="close()">
                <i class="lic lic-remove-circle-fill"></i>
                <div class="close-background-color">
                </div>
            </div>
        </div>
        <div class="prase-container">
            <div class="item" ng-repeat="item in scoreTypes" ng-click="performanceScore(item.Code,'PRAISE')">
                <i class="lic lic-thumb-up-alt"></i>
                <div ng-bind="item.Name"></div>
            </div>
        </div>
        <div class="step-container">
            <div class="item" ng-repeat="item in scoreTypes" ng-click="performanceScore(item.Code,'TRAMPLE')">
                <i class="lic lic-thumb-up-alt"></i>
                <div ng-bind="item.Name"></div>
            </div>
        </div>
    </div>

    <!--LINDGE:script begin-->
    <script include-type="global" src="/CDN/Angular/1.5/angular.js"></script>
    <script include-type="global" src="/CDN/Angular/1.5/angular-animate.js"></script>
    <script include-type="global" src="/CDN/Angular/1.5/angular-cookies.js"></script>
    <script include-type="global" src="/CDN/Angular/1.5/angular-loader.js"></script>
    <script include-type="global" src="/CDN/Angular/1.5/angular-aria.js"></script>
    <script include-type="global" src="/CDN/Angular/1.5/angular-messages.js"></script>
    <script include-type="global" src="/CDN/Angular/1.5/angular-resource.js"></script>
    <script include-type="global" src="/CDN/Angular/1.5/angular-ui-router.js"></script>
    <script include-type="global" src="/Translayer/Figure.Config/Angular/RouteTable"></script>
    <script include-type="global" src="/Translayer/Figure.Config/ServerTime/global_init_time"></script>
    <script include-type="global" src="/Framework/LINDGE.Service/LINDGE-Service-1.0.0.js"></script>
    <script include-type="global" src="/Framework/LINDGE.UI/LINDGE-UI-Core-1.0.0.js"></script>
    
    <script src="/Translayer/Figure.Config/Angular/ConfigSection?ScoreTypes=ScoreTypes"></script>

    <!--LINDGE:script end-->
    <!--Page script begin-->
    <script include-type="cross" src="/Views/ClassroomTeaching/__public__/service/app/client-proxy.js"></script>
    <script include-type="cross" src="/Views/ClassroomTeaching/__public__/service/app/client-init.js"></script>
    <script include-type="cross" src="/Views/ClassroomTeaching/__public__/service/app/toast-client.js"></script>
    <script src="index-service.js"></script>
    <script src="score.js"></script>
    <!--Page script end-->
</body>
</html>