/* colors */
/* font */
/* control layouts */
mutual-score-view {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: 10px; }
  mutual-score-view .state-info {
    overflow: hidden;
    padding: 20px 0;
    width: 0;
    white-space: nowrap;
    transition: width 0.2s ease; }
    mutual-score-view .state-info.open {
      width: 700px; }
    mutual-score-view .state-info .target-info,
    mutual-score-view .state-info .score-time,
    mutual-score-view .state-info .score-count,
    mutual-score-view .state-info .average-score {
      display: inline-block;
      padding-left: 60px;
      vertical-align: middle;
      font-size: 14px;
      font-weight: bold;
      line-height: 20px; }
    mutual-score-view .state-info .target-info img,
    mutual-score-view .state-info .target-info .target-name {
      display: inline-block;
      vertical-align: middle; }
    mutual-score-view .state-info .target-info img {
      overflow: hidden;
      margin-right: 14px;
      width: 30px;
      height: 30px;
      border-radius: 50%; }
